<h1>{{title}}</h1>
<div *ngFor="let user of users; let idx = index">
  <p *ngIf="submit">Thanks you for registering with us {{users[idx].firstName}} . We just sent you a confirmation email at {{users[idx].email}}
  have a wonderful day!
  </p>
</div>

<form (submit)="onSubmit()" name="reg" #formData='ngForm'  >
  <label for="firstName">First Name: <input
     type="text"
     name="firstName"
     required
     minlength="3"
     maxlength="20"
     #firstName='ngModel'
     [(ngModel)]="user.firstName"></label>
     <div *ngIf="firstName.errors">
      <span [hidden]="firstName.untouched && firstName.errors.required">First Name is required</span>
    </div>
    <br>
  <label for="lastName">Last Name: <input 
    type="text" 
    name="lastName"
    required
    minlength="3"
    maxlength="20"
    #lastName='ngModel' 
    [(ngModel)]="user.lastName"></label>
    <div *ngIf="lastName.errors">
    <span  [hidden]="lastName.untouched && lastName.errors.required">Last Name is required</span>
  </div><br>
  <label for="email">Email: <input 
    type="text" 
    name="email"
    required
    minlength="5"
    maxlength="25"
    #email='ngModel' 
    [(ngModel)]="user.email"></label>
    <div *ngIf="email.errors">
    <span [hidden]="email.untouched && email.errors.required">Email is required</span>
    </div><br>
  <label for="password">Password: <input 
    type="text" 
    name="password"
    required
    minlength="5"
    maxlength="25"
    #password='ngModel' 
    [(ngModel)]="user.password"></label>
    <div *ngIf="password.errors">
    <span [hidden]="password.untouched && password.errors.required">Password is required</span>
    </div><br>
<label for="confirmPW">Confirm: <input 
    type="text" 
    name="confrimPW"
    required
    minlength="5"
    maxlength="25"
    #confirmPW='ngModel' 
    [(ngModel)]="user.confrimPW"></label>
  <div *ngIf="confirmPW.errors">
  <span [hidden]="confirmPW.untouched && confirmPW.errors.required">Confirmation password is required</span>
  </div>
  <div > 
    <span *ngIf="user.confrimPW !== user.password">your passwords dont match</span>
  </div><br>
  <label for="state">State: <select name="state"
    required
    #state='ngModel'
    [(ngModel)]="user.state">
    <option value="VA">VA</option>
    <option value="NY">NY</option>
    <option value="NC">NC</option>
    <option value="PA">PA</option>
    <option value="FL">FL</option>
  </select></label>
  <div *ngIf="state.errors">
    <span [hidden]="state.untouched && state.errors.required">State is required</span>
  </div>


  <div *ngIf="formData.form.valid && user.password === user.confrimPW">
  <input type="submit">
  </div>
</form>
<!-- 
<div>{{firstName.untouched | json }}</div> 

{{formData.form.valid | json}}



{{user | json}} -->